@using u21562246_HW3.Models 
@model List<ModelForFile>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@ViewBag.Status
<div class="jumbotron">


    <table class="table table-hover table-dark">
        <thead style="background-color:darkgrey">
            <tr>
                <th scope="col" style="width:60%">File Name </th>
                <th scope="col">Download Option</th>
                <th scope="col">Delete Option</th>
            </tr>
        </thead>
        <tbody>
                @foreach (var fileInModel in Model)
                {
                    <tr>
                        <td>@fileInModel.NameOfSelectedFile</td>
                        <td><button type="button" class="btn btn-success">@Html.ActionLink("Download", "Download", new { FileName = fileInModel.NameOfSelectedFile })</button></td>
                        <td><button type="button" class="btn btn-danger">@Html.ActionLink("Delete", "Delete", new { FileName = fileInModel.NameOfSelectedFile })</button></td>
                    </tr>
                }

        </tbody>
    </table>
</div>