
@{
    ViewBag.Title = "Index";
}


<h2>A little something about Sena</h2>
<div class="jumbotron">
    <p>
        Since you could'nt help but wonder "about me"(see what i did there) the following page is dedicted to the most handsome and talented man:
        ME...
    </p>
    <div class="row">
        <div class="col-md-8">
            <h2>Bio</h2>
            <p>
                Sena short for Senamiso is a young handsome man and as his name suggests/translates he is someone who brings people immense amount of joy.
                He was born in the united kingdom and due to unfortunte circumstances e relocated to south Africa as a minor infant.Senamiso has lived his whole life in South Africa 
                and has graduated from high school Scared Heart college to be exact and is now in the University of Pretoria studying BSc Information and Knowledge Systems.
                I know at this point you are wondering why this talented, funny, charming young man chose such a course right?
                Truth be told it is not somthing he is passionate about but considering the climate we are in, it was the bestchoice for him; as it gaurantee's him a job once he graduates 
                which will help him take care of his family.

                Some of Sena's hobbies include modelling, philanthropy, readin, acting, talking and overall interacting with people. Sena is a part time model and is very very
                passionate about making money especially while doing something he enjoys. It is Sena's dream to one day become an icon with multiple big movies, series and to have worked with all
                his favorite designers such as Laduma, Thebe Magugu Lukhanya Mdingi, Travis Scott and Kanye West amongst many others.
            </p>

        </div>
        
    <div class="col-md-4">
        <h2>Senamiso</h2>
        <img src="~/Content/IMG_0045.jpg" alt="A rare picture of Senamiso" style="height:350px" >
    </div>
    </div>

</div>


